$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$bodyBg: #cfdae1;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body, html {
    width: 100%;
    height: 100%;
}

/* Space out content a bit */
body {
    background: $bodyBg;
    font-family: 'Lato', sans-serif;
}

.content {
    background: white;
    // border: 1px solid rgba(0,0,0,0.2);
    border-top: 0;
    border-bottom: 0;
    padding: 10px 30px 30px 20px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);

    h3 {
        font-family: 'Varela Round', sans-serif;
        margin-top: 10px;
    }

    ul {
        list-style: none;
    }
    .goals, .tasks {
        padding-left: 0;
    }
    .main {
        margin-top: 30px;
    }
    position: relative;
}

.logout {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}

.tasks {
    li {
        padding: 10px;
        background: #f5f5f5;
        border: 1px solid #dcdcdc;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.06);
        margin-bottom: 8px;
        position: relative;

        &:last-of-type {
            margin-bottom: 0;
        }

        p {
            position: relative;
            z-index: 2;
            margin-bottom: 0;
            .white {
                color: white;
            }
        }

        .elapsedTime {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            transition: width .2s ease;
            height: 100%;
            z-index: 0;
            border-radius: 2px;
            opacity: 0.1;
        }

        .primary {}
        .danger {}
        .warning {}
    }
    todo-item {
        button {
            border-radius: 50%;
            padding: 3px 6px;
            margin-right: 5px;
        }
        .glyphicon-play {
            padding-left: 1px;
        }
        .timerCtrls {
            margin-top: -3px;
            position: absolute;
            top: 10px;
            right: 6px;
            z-index: 2;
        }
    }
}

label {
    padding-top: 7px;
    margin-bottom: 0;
}

input[type="text"], input[type="password"] {
    box-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0;

    &:focus {
        box-shadow: none;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
